<h1>Kevin Kennedy</h1>
<p><img src="~/images/KevinKennedy.jpg" width="200" height="200"></p>
<p>
  <a href="tel:+17602249667">+1 (760) 224-9667</a><br />
  <a href="mailto:kevin@kennedylabs.com">kevin@kennedylabs.com</a><br />
  <a href="http:/www.linkedin.com/in/kevinpaulkennedy">linkedin.com/in/kevinpaulkennedy</a>
</p>
<h2>Summary</h2>
<p>
  I build apps (web apps, mobile apps, desktop apps, embedded
  apps, cloud apps). I've envisioned, planned, designed, architected, coded,
  configured, tested, documented, deployed, maintained, and supported many apps
  over the last fifteen years since graduating from MIT. Most of these apps have
  been built in a consulting context either as a lead developer, sole principal,
  or a contributing developer. For those I've led, I have an excellent track
  record delivering on time and budget and have multiple customers that will
  happily speak to that fact. My current areas of interest include end-to-end web
  development, Rich HTML5 UI (Angular, LESS, Knockout, D3, Underscore), desktop
  apps (WPF, WinJS, Office), cloud services (Azure, Office365, some AWS), and
  platform integration (OAuth, API interconnectivity, BI).
</p>
<h2>Experience</h2>
<h3>Independent Consultant at Kennedy Labs (2014 - Present)</h3>
<ul>
  <li>
    Currently working as an independent custom
    application development consultant.
  </li>
  <li>
    Was recently given the opportunity to come in as
    senior-most architect at a software company with teams in two separate
    continents.
  </li>
  <li>
    Helped the company execute a successful restart
    of their new product suite to a testable state of the first deliverable in
    three weeks whereas prior efforts and not reached end-to-end functionality in
    prior three weeks. Technologies consisted of SQL Server, Entity Framework, Web
    API, Angular, Underscore.js, Typescript, amongst others.
  </li>
  <li>
    Prior contracts involved mostly maintenance work
    but included customer interaction problems as challenging and interesting as
    those of most recent contract.
  </li>
</ul>
<h3>Principal Software Engineer at Acutus Medical (2014 - 2014)</h3>
<ul>
  <li>
    Developing 3D mesh creation and modification
    software in C#/.NET/WPF under Visual-Studio and the Helix Toolkit and created
    3D research tools for internal customers
  </li>
  <li>
    Researched, designed, and developed various
    algorithms to solve real clinical problems
  </li>
  <li>
    Participated in design of FDA approved SDLC
    (research, development, documentation, validation, release) as well as system
    design and architecture specification process
  </li>
  <li>
    Created technical product specifications and
    documentation
  </li>
</ul>
<h3>Technical Lead at Seamgen (2012 -2014)</h3>
<ul>
  <li>
    Led the development of the website for the
    largest exclusive wine auction house which included real-time interaction with
    live auctions, web auctions, and a store.
  </li>
  <li>
    Utilized ASP.NET MVC, Web API, SignalR, Entity
    Framework, SQL Server, Unity, Knockout.js, jQuery, and many other leading
    industry technologies.
  </li>
  <li>
    Currently working on an analytics website for a
    medical fitness device leveraging ASP.NET MVC 5, Web API 2, Entity Framework 6,
    Azure Web Sites, SQL Azure, and various JavaScript frameworks. Although not
    strictly a single page app, essentially all of the data binding is happing in
    the browser.
  </li>
</ul>
<h3>Technical Lead at Cynergy Systems (2010- 2012)</h3>
<ul>
  <li>
    Led a team to create the next generation user
    interface for a leading hospital laboratory device vendor. The application uses
    the Windows Presentation Foundation and the Surface Toolkit for Windows Touch.
  </li>
  <li>
    Managed a team building a Silverlight VOIP
    application with a companion Silverlight design tool for creation of client
    skins.
  </li>
  <li>
    Led the redesign of a legacy MFC microscopy
    application to a visually impressive Silverlight implementation.
  </li>
  <li>
    Developed a virtual receptionist application for
    the MS Surface that allowed visitors to print badges and check in on subsequent
    visits use tag recognition.
  </li>
</ul>
<h3>Lead Software Engineer at InterKnowlogy (2004 - 2010)</h3>
<ul>
  <li>
    Led a team to create a multi-touch Silverlight
    application for large hospitals to manage all of their beds in a visually
    relevant context.
  </li>
  <li>
    Built a MS Surface application that allows
    physicians to interact with a 3D heart model in an interactive environment.
  </li>
  <li>
    Managed a six person team to develop pioneering
    software leveraging the Windows Presentation Foundation and MS Office
    SharePoint Server 2007 that allows biological researchers to annotate and
    discuss three dimensional molecular models.
  </li>
  <li>
    Acted as technical lead on the MS PCTA project
    which involved the creation of a web control used on Microsoft's corporate web
    page to facilitate finding MS partners with specific knowledge or a particular
    competency.
  </li>
  <li>
    Supervised a team during the design and
    development of the Navigant Legal Portal. This SharePoint implementation allows
    Navigant's law firm clients to manage and track the collection of data relevant
    to a particular case as well as send out preservation notices to the data
    custodians.
  </li>
  <li>
    Created a 3D simulation environment for
    practitioners to fine tune the audio response curve of hearing aids while
    patients are immersed in various environments.
  </li>
  <li>
    Consulted on a number of different projects to
    help developers with designing features, troubleshooting difficult bugs, and
    coding challenging components.
  </li>
  <li>
    Created two Hands on Labs for attendees of the
    2005 Professional Developer's Conference. These training sessions were designed
    to teach participants about various features in ASP.NET 2.0 which was in
    pre-release stage at the time of the PDC.
  </li>
</ul>
<h3>Software Engineer at Financial Profiles (2002 - 2004)</h3>
<ul>
  <li>
    Architected and developed a WinForms component
    in C# for integrating a legacy financial planning desktop application with an
    ASP.NET web service interface to an online account management system.
  </li>
  <li>
    Ported an existing web application written in
    server-side JavaScript for ASP to an ASP.NET application written in C#.
  </li>
  <li>
    Added features to Financial Profiles' desktop
    planning application including file encryption, online data synchronization,
    and XML-based configuration files.
  </li>
  <li>
    Implemented functionality in an ASP.NET application
    for financial planners to securely request institution credentials from their
    clients and store them encrypted in a database.
  </li>
</ul>
<h3>Software Developer at MedUnite (2000 - 2000)</h3>
<ul>
  <li>
    Architected a custom content-management
    corporate website.
  </li>
  <li>
    Implemented the company's website using an ASP
    front-end and a SQL Server / ASP.NET administration back-end.
  </li>
  <li>
    Built content management server controls for
    managing documents, images, and text as well as a browser hosted .NET control
    for WYSIWYG editing.
  </li>
  <li>
    Designed the entire site layout and graphics
    using Adobe Photoshop.
  </li>
  <li>
    Developed a mass-email program in C# and T-SQL
    for the marketing department to send emails to specific portions of the user
    base.
  </li>
  <li>
    Created interactive Flash demos for various
    company products.
  </li>
</ul>
<h3>Software Developer at Digital Metaphors (2001 - 2002)</h3>
<ul>
  <li>
    Designed, developed, and tested a Delphi
    reporting tool that allows programmers to create a full end-user reporting
    solution including an end-user designer and a data access workspace.
  </li>
  <li>
    Created an output device to render reports to
    web content using XHTML, CSS 2, and JavaScript.
  </li>
  <li>
    Developed an ISAPI DLL for dynamically
    generating reports and sending them over the Internet as web content.
  </li>
  <li>
    Integrated the ISAPI DLL with the report SOAP
    server and ASP / VB based solutions.
  </li>
  <li>Provided extensive documentation on the API.</li>
  <li>Utilized UML for modeling and design.</li>
</ul>
<h3>Software Developer at United States Air Force (1999 - 2001)</h3>
<ul>
  <li>
    Managed the architecture and implementation of
    an ASP website for a flight scheduling system. Created a number of VB server
    components.
  </li>
  <li>
    Team leader on a project to create a
    student-tracking program.
  </li>
  <li>
    Designed the system architecture that included
    an MFC front end to an Access database and wrote a large portion of the user
    interface using Visual C++.
  </li>
  <li>
    Created a Windows device driver for the display
    panel of an AWACS radar operator simulator.
  </li>
</ul>
<h2>Education</h2>
<h3>MIT (Massachusetts Institute of Technology) (1995 - 1999)</h3>
<ul>
  <li>SB, Computer Science, GPA: 4.6/5.0</li>
  <li>
    MIT Media Lab - Visible Language Workshop -
    Researcher
  </li>
  <li>
    MIT CSAIL (Comp. Sci. and A.I. Lab) - Computer
    Graphics Group - Researcher
  </li>
  <li>
    Ranked first out of 250+ students in Artificial
    Intelligence class
  </li>
  <li>
    Activities: Beta Theta Pi (help many offices),
    Air Force ROTC
  </li>
</ul>
<h2>Interests</h2>
<h3>Professional</h3>
<ul>
  <li>Software Engineering Management and Guidance</li>
  <li>Full-Stack Web Development</li>
  <li>Custom User Interfaces and Interaction Design</li>
  <li>Cloud Computing</li>
  <li>Keeping Things Simple</li>
  <li>Continuous Integration and Associated Tooling</li>
  <li>Facilitating Team Interaction and Camaraderie</li>
</ul>
<h3>Personal</h3>
<ul>
  <li>Algorithmic Art</li>
  <li>Procedurally Generated Content</li>
  <li>AI Philosophy</li>
</ul>
