<h2>Contact</h2>
<address>
  2680 Worden St. #68<br />
  San Diego, CA 92110<br />
  <abbr title="Phone">P:</abbr>
  760.827.9710
</address>
<address>
  <strong>Sales:</strong> <a href="mailto:sales@kennedylabs.com">sales@kennedylabs.com</a><br />
  <strong>Development:</strong> <a href="mailto:kevin@kennedylabs.com">kevin@kennedylabs.com</a>
</address>
<h2>Contact</h2>
