<div class="jumbotron text-center">
  <img src="~/Images/KennedyLabsLogo256.png" class="img-responsive center-block" />
  <h1>Kennedy Labs</h1>
  <p class="lead">Delivering Software That Makes Sense</p>
</div>
<div class="row">
  <div class="col-sm-7">
    <h2>About Me</h2>
    <p>
      I build apps (web apps, mobile apps, desktop apps, embedded
      apps, cloud apps). I've envisioned, planned, designed, architected, coded,
      configured, tested, documented, deployed, maintained, and supported many apps
      over the last fifteen years since graduating from MIT. Most of these apps have
      been built in a consulting context either as a lead developer, sole principal,
      or a contributing developer. For those I've led, I have an excellent track
      record delivering on time and budget and have multiple customers that will
      happily speak to that fact. My current areas of interest include end-to-end web
      development, Rich HTML5 UI (Angular, LESS, Knockout, D3, Underscore), desktop
      apps (WPF, WinJS, Office), cloud services (Azure, Office365, some AWS), and
      platform integration (OAuth, API interconnectivity, BI).
    </p>
  </div>
  <div class="col-sm-5">
    <h2>Current Interests</h2>
    <ul class="shift-left">
      <li>Software Engineering Management and Guidance</li>
      <li>Full-Stack Web Development</li>
      <li>Custom User Interfaces and Interaction Design</li>
      <li>Cloud Computing</li>
      <li>Keeping Things Simple</li>
      <li>Continuous Integration and Associated Tooling</li>
      <li>Facilitating Team Interaction and Camaraderie</li>
    </ul>
  </div>
</div>
