<h2>Projects</h2>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/cogstate.png" class="img-responsive">
      </div>
      <div class="panel-footer">Cogstate (Kennedy Labs)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/ackerwines.png" class="img-responsive">
      </div>
      <div class="panel-footer">Acker Wines (Kennedy Labs)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/acutusmedical.png" class="img-responsive">
      </div>
      <div class="panel-footer">Acutus Medical (Employer)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/includefitness.png" class="img-responsive">
      </div>
      <div class="panel-footer">Include Fitness (Seamgen)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/lytx.png" class="img-responsive">
      </div>
      <div class="panel-footer">Lytx (Seamgen)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/seamgen.png" class="img-responsive">
      </div>
      <div class="panel-footer">Seamgen (Employer)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/abbottdiagnostics.png" class="img-responsive">
      </div>
      <div class="panel-footer">Abbott Diagnostics (Cynergy)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/gehealthcare.png" class="img-responsive">
      </div>
      <div class="panel-footer">GE Healthcare (Cynergy)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/cynergy.png" class="img-responsive">
      </div>
      <div class="panel-footer">Cynergy (Employer)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/microsoft.png" class="img-responsive">
      </div>
      <div class="panel-footer">Microsoft (InterKnowlogy)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/starkeyhearing.png" class="img-responsive">
      </div>
      <div class="panel-footer">Starkey Hearing (InterKnowlogy)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/SharePoint.png" class="img-responsive">
      </div>
      <div class="panel-footer">Microsoft SharePoint Product Group (InterKnowlogy)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/thescrippsresearchinstitute.png" class="img-responsive">
      </div>
      <div class="panel-footer">The Scripps Research Institute (InterKnowlogy)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/pixelsense.png" class="img-responsive">
      </div>
      <div class="panel-footer">Microsoft PixelSense Product Group (InterKnowlogy)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/allscripts.png" class="img-responsive">
      </div>
      <div class="panel-footer">Allscripts (InterKnowlogy)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/windows.png" class="img-responsive">
      </div>
      <div class="panel-footer">Microsoft Windows Product Group (InterKnowlogy)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/intermountainhealthcare.png" class="img-responsive">
      </div>
      <div class="panel-footer">Intermountain Healthcare (InterKnowlogy)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/callaway.png" class="img-responsive">
      </div>
      <div class="panel-footer">Callaway (InterKnowlogy)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/departmentofhomelandsecurity.png" class="img-responsive">
      </div>
      <div class="panel-footer">Department of Homeland Security (InterKnowlogy)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/igt.png" class="img-responsive">
      </div>
      <div class="panel-footer">IGT (InterKnowlogy)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/navigant.png" class="img-responsive">
      </div>
      <div class="panel-footer">Navigant (InterKnowlogy)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/interknowlogy.png" class="img-responsive">
      </div>
      <div class="panel-footer">InterKnowlogy (Employer)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/awacs.png" class="img-responsive">
      </div>
      <div class="panel-footer">AWACS (Employer)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/mitmedialab.png" class="img-responsive">
      </div>
      <div class="panel-footer">MIT Media Lab (College)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/mitlaboratoryforcomputerscienceandartificialintelligence.png" class="img-responsive">
      </div>
      <div class="panel-footer">MIT Laboratory for Computer Science and Artificial Intelligence (College)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/Office.png" class="img-responsive">
      </div>
      <div class="panel-footer">Microsoft Office Product Group (Internship)</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="~/Images/projects/internetexplorer.png" class="img-responsive">
      </div>
      <div class="panel-footer">Microsoft Internet Explorer Product Group (Internship)</div>
    </div>
  </div>
</div>
